@page "/"

<PageTitle>Home</PageTitle>
<div class="home">
    <div class="title">title</div>
    <div class="menu">menu</div>
    <div class="kanban-menu">
       <div class="new">New</div>
        <div class="approved">Approved</div>
        <div class="committed">Committed</div>
        <div class="done">Done</div>
    </div>
</div>